## Filtering Observed Arrivals
As the [API Exploration Notebook](API_exploration.ipynb) shows, each poll of the scraper produces 3 predicted arrival times for each line direction at a station. We want to transform and reduce these data to only feature observed train arrivals at stations ([per this issue](https://github.com/CivicTechTO/ttc_subway_times/issues/13)).

This notebook explores how to do this.

In [2]:
from psycopg2 import connect
import configparser
import pandas as pd
import pandas.io.sql as pandasql

In [3]:
CONFIG = configparser.ConfigParser(interpolation=None)
CONFIG.read('../db.cfg')
dbset = CONFIG['DBSETTINGS']
con = connect(**dbset)

## Goal
We want to generate observed arrival times, in a format similar to [GTFS](https://github.com/google/transit/blob/master/gtfs/spec/en/reference.md#stop_timestxt). The GTFS schedule will be useful in this process, data was downloaded from [Transit Feeds](https://transitfeeds.com/p/ttc/33), the schema of the data is in [ttc_gtfs_create.sql](../ttc_gtfs_create.sql) and it is processed to a more useful format in PostgreSQL with [ttc_gtfs_process.sql](../ttc_gtfs_process.sql).

From gtfs, we can get a sense of the target data count, how many stops are scheduled on the three subway lines for which we have data?

In [8]:
sql = '''SELECT COUNT(1)

FROM gtfs.stop_times 
INNER JOIN gtfs.trips USING (trip_id)
INNER JOIN gtfs.routes USING (route_id)
INNER JOIN gtfs.calendar USING (service_id)
WHERE monday AND route_type = 1 AND route_short_name != '3'
'''

with con.cursor() as cur:
    cur.execute(sql)
    print(cur.fetchone()[0])

46404

This is a ball park figure we are aiming for in our filtering. 
Creating a materialized view of the raw poll data for a given day Wednesday, June 14th 2017

In [17]:
sql = '''CREATE MATERIALIZED VIEW test_day AS 
SELECT requestid, stationid, lineid, create_date, request_date, station_char, subwayline, system_message_type, 
            timint, traindirection, trainid, train_message
FROM requests
INNER JOIN ntas_data USING (requestid)
WHERE request_date >= '2017-06-14'::DATE + interval '5 hours' 
AND request_date <  '2017-06-14'::DATE + interval '29 hours' 
''' 
with con:
    with con.cursor() as cur:
        cur.execute(sql)

In [18]:
with con.cursor() as cur:
    cur.execute('SELECT COUNT(1) FROM test_day')
    print(cur.fetchone()[0])

554390

Cool. Definitely some work to do.


Trying out a very basic filter, which has a [Known Issue](https://github.com/CivicTechTO/ttc_subway_times/issues/13#issuecomment-286609328)

In [22]:
sql = '''SELECT COUNT(DISTINCT (requestid, lineid, trainid, traindirection, stationid))
FROM test_day 
WHERE train_message = 'AtStation' OR timint < 1'''

with con.cursor() as cur:
    cur.execute(sql)
    print(cur.fetchone()[0])

81483

It's a start. 

If every line takes more than an hour to do a round-trip, we might be able to look for a distinct train-line-direction-station combination for each hour.

In [11]:
sql = '''WITH trips AS (SELECT route_short_name, (SELECT trip_id FROM gtfs.trips WHERE trips.route_id = routes.route_id LIMIT 1) 
FROM gtfs.routes
WHERE route_type = 1 AND route_short_name != '3' )

SELECT route_short_name, MIN(arrival_time) AS "Start Time", MIN(stop_sequence) ||'-'||MAX(stop_sequence) AS "Stops", MAX(arrival_time) - MIN(arrival_time) AS "Half-trip time"
FROM gtfs.stop_times
INNER JOIN trips USING(trip_id)
GROUP BY route_short_name, trip_id
ORDER BY route_short_name, trip_id
'''

trips = pandasql.read_sql(sql, con)

In [12]:
trips

  route_short_name Start Time Stops Half-trip time
0                1   05:37:49  1-32       00:57:45
1                2   05:40:30  1-31       00:51:27
2                4   05:30:15   1-2       00:02:39

So any given train on line 1 or 2 shouldn't pass the same station going the same direction in an hour. So we could add the hour in a `DISTINCT` query.

What's up with Line 4? It's short, but not two stations short... According to [TransitFeeds](https://transitfeeds.com/p/ttc/33/latest/trip/34859462), a GTFS host and exploration platform, Line 4 trains start the day at non-terminus stations. Line 4 actually makes 5 stops, and it takes 8 minutes to go from one terminus to another, with a two and a half minute layover at each terminus.

Potential issues:
 - headways varying throughout the day
 - delays can push a unique train stop arrival at a station into multiple time boxes. 
 
Better solution:
 - look at each train chronologically through the day and
   * identify when there are multiple observations in a same trip at a same station
   * identify when the train changes direction

In [28]:
sql = ''' SELECT trainid, lineid, traindirection, stationid, station_char, create_date, request_date, timint, train_message
        FROM test_day
        INNER JOIN (SELECT trainid FROM test_day WHERE lineid = 1 AND create_date::TIME > '07:00'::TIME LIMIT 1) one_train USING (trainid)
        WHERE timint < 1 OR train_message != 'Arriving' AND lineid = 1
        ORDER BY create_date
'''
one_train = pandasql.read_sql(sql, con)

In [29]:
one_train

,trainid,lineid,traindirection,stationid,station_char,create_date,request_date,timint,train_message
0,141,4,South,64,SHP2,2017-06-14 05:50:06,2017-06-14 05:50:01.546815,0.000000,AtStation
1,141,1,South,30,SHP2,2017-06-14 05:50:06,2017-06-14 05:50:01.529971,0.000000,AtStation
2,141,1,South,29,YKM2,2017-06-14 05:52:06,2017-06-14 05:52:01.566292,0.896471,Arriving
3,141,1,South,29,YKM2,2017-06-14 05:53:07,2017-06-14 05:53:02.486092,0.000000,AtStation
4,141,1,South,28,LAW2,2017-06-14 05:55:05,2017-06-14 05:55:01.532195,0.812800,Arriving
5,141,1,South,27,EGL2,2017-06-14 05:59:06,2017-06-14 05:59:02.506222,0.274918,Arriving
6,141,1,South,27,EGL2,2017-06-14 06:00:06,2017-06-14 06:00:02.395306,0.000000,AtStation
7,141,1,South,27,EGL2,2017-06-14 06:01:06,2017-06-14 06:01:02.224179,0.000000,AtStation
8,141,1,South,12,QPK2,2017-06-14 06:02:06,2017-06-14 06:02:02.127553,16.777805,Delayed
9,141,1,South,13,STP2,2017-06-14 06:02:06,2017-06-14 06:02:02.127905,15.583304,Delayed
10,141,1,South,15,STA2,2017-06-14 06:02:06,2017-06-14 06:02:02.128542,14.078819,Delayed
11,141,1,South,19,DUN2,2017-06-14 06:02:06,2017-06-14 06:02:02.134013,10.627591,Delayed
12,141,1,South,20,COL2,2017-06-14 06:02:06,2017-06-14 06:02:02.134354,9.724741,Delayed
13,141,1,South,23,ROS2,2017-06-14 06:02:06,2017-06-14 06:02:02.135237,6.368941,Delayed
14,141,1,South,24,SUM2,2017-06-14 06:02:06,2017-06-14 06:02:02.135474,5.305325,Delayed
15,141,1,South,25,STC2,2017-06-14 06:02:06,2017-06-14 06:02:02.135727,3.833515,Delayed
16,141,1,South,27,EGL2,2017-06-14 06:02:06,2017-06-14 06:02:02.136214,0.000000,Delayed
17,141,1,South,7,SCW2,2017-06-14 06:02:06,2017-06-14 06:02:02.125818,24.339155,Delayed
18,141,1,South,4,LWW2,2017-06-14 06:02:06,2017-06-14 06:02:02.119089,32.761508,Delayed
19,141,1,South,2,WIL2,2017-06-14 06:02:06,2017-06-14 06:02:02.115756,37.015169,Delayed
20,141,1,South,3,YKD2,2017-06-14 06:02:06,2017-06-14 06:02:04.741088,34.891925,Delayed
21,141,1,South,5,GCN2,2017-06-14 06:02:06,2017-06-14 06:02:02.124873,31.332132,Delayed
22,141,1,South,8,DUP2,2017-06-14 06:02:06,2017-06-14 06:02:02.126152,21.575233,Delayed
23,141,1,South,10,SGU2,2017-06-14 06:02:06,2017-06-14 06:02:02.126807,19.312334,Delayed
24,141,1,South,11,MUS2,2017-06-14 06:02:06,2017-06-14 06:02:02.127224,18.099605,Delayed
25,141,1,South,17,KNG2,2017-06-14 06:02:06,2017-06-14 06:02:02.133276,12.273120,Delayed
26,141,1,South,16,UNI2,2017-06-14 06:02:06,2017-06-14 06:02:02.132949,13.112619,Delayed
27,141,1,South,14,OSG2,2017-06-14 06:02:06,2017-06-14 06:02:02.128224,14.799984,Delayed
28,141,1,South,9,SPA2,2017-06-14 06:02:06,2017-06-14 06:02:02.126467,20.533729,Delayed
29,141,1,South,6,EGW2,2017-06-14 06:02:06,2017-06-14 06:02:02.125432,29.420454,Delayed
...,...,...,...,...,...,...,...,...,...
1121,141,1,South,18,QUN2,2017-06-15 01:17:13,2017-06-15 01:17:01.668437,0.000000,AtStation
1122,141,1,South,17,KNG2,2017-06-15 01:18:13,2017-06-15 01:18:01.908617,0.000000,AtStation
1123,141,1,South,16,UNI2,2017-06-15 01:18:13,2017-06-15 01:18:01.908305,0.807027,Arriving
1124,141,1,South,16,UNI2,2017-06-15 01:19:13,2017-06-15 01:19:01.493331,0.000000,AtStation
1125,141,1,South,15,STA2,2017-06-15 01:19:13,2017-06-15 01:19:01.493000,0.926689,Arriving
1126,141,1,South,15,STA2,2017-06-15 01:20:13,2017-06-15 01:20:02.061234,0.632178,Arriving
1127,141,1,South,15,STA2,2017-06-15 01:21:13,2017-06-15 01:21:02.070662,0.000000,AtStation
1128,141,1,South,14,OSG2,2017-06-15 01:21:13,2017-06-15 01:21:02.070335,0.695267,Arriving
1129,141,1,South,13,STP2,2017-06-15 01:22:14,2017-06-15 01:22:02.439261,0.753969,Arriving
1130,141,1,South,14,OSG2,2017-06-15 01:22:14,2017-06-15 01:22:02.439572,0.000000,AtStation
1131,141,1,South,13,STP2,2017-06-15 01:23:12,2017-06-15 01:23:01.788040,0.000000,AtStation
1132,141,1,South,12,QPK2,2017-06-15 01:24:13,2017-06-15 01:24:02.265015,0.549204,Arriving
1133,141,1,South,11,MUS2,2017-06-15 01:26:12,2017-06-15 01:26:02.167976,0.000000,AtStation
1134,141,1,South,10,SGU2,2017-06-15 01:27:13,2017-06-15 01:27:01.512989,0.365478,Arriving
1135,141,2,South,48,SGU2,2017-06-15 01:27:15,2017-06-15 01:27:01.540509,0.365478,Arriving
1136,141,1,South,9,SPA2,2017-06-15 01:28:14,2017-06-15 01:28:01.936863,0.912707,Arriving
1137,141,2,South,47,SPA2,2017-06-15 01:28:14,2017-06-15 01:28:01.962794,0.912707,Arriving
1138,141,2,South,47,SPA2,2017-06-15 01:29:14,2017-06-15 01:29:01.967644,0.000000,AtStation
1139,141,1,South,8,DUP2,2017-06-15 01:29:14,2017-06-15 01:29:01.940110,0.997809,Arriving
1140,141,1,South,9,SPA2,2017-06-15 01:29:14,2017-06-15 01:29:01.940508,0.000000,AtStation
1141,141,1,South,8,DUP2,2017-06-15 01:30:13,2017-06-15 01:30:01.827342,0.279964,Arriving
1142,141,1,South,7,SCW2,2017-06-15 01:32:12,2017-06-15 01:32:02.045869,0.960120,Arriving
1143,141,1,South,7,SCW2,2017-06-15 01:33:13,2017-06-15 01:33:02.293891,0.000000,AtStation
1144,141,1,South,6,EGW2,2017-06-15 01:37:14,2017-06-15 01:37:02.000244,0.282222,Arriving
1145,141,1,South,5,GCN2,2017-06-15 01:39:14,2017-06-15 01:39:01.928819,0.000000,AtStation
1146,141,1,South,4,LWW2,2017-06-15 01:40:14,2017-06-15 01:40:02.068115,0.500662,Arriving
1147,141,1,South,3,YKD2,2017-06-15 01:42:14,2017-06-15 01:42:01.954696,0.275449,Arriving
1148,141,1,South,2,WIL2,2017-06-15 01:44:14,2017-06-15 01:44:02.325968,0.291253,Arriving
1149,141,1,South,1,SHW2,2017-06-15 01:48:14,2017-06-15 01:48:02.248363,0.000000,AtStation
1150,141,1,North,1,SHW1,2017-06-15 01:48:14,2017-06-15 01:48:02.248363,0.255000,Arriving

In [19]:
sql = ''' WITH unique_trains AS 
    (SELECT lineid::TEXT, COUNT(DISTINCT trainid) AS "Number of trains in a day"
     FROM test_day
     GROUP BY lineid)
     , unique_trips AS(SELECT route_short_name AS lineid, COUNT(DISTINCT trip_id) AS "Number of scheduled trips"
            FROM gtfs.routes -- ON lineid::TEXT = route_short_name
            INNER JOIN gtfs.trips USING (route_id)
            INNER JOIN gtfs.calendar USING (service_id)
            WHERE monday AND route_type = 1 AND route_short_name != '3'
            GROUP BY route_short_name)
            
    SELECT *
        FROM unique_trains
        INNER JOIN unique_trips USING (lineid)
        ORDER BY lineid'''
pandasql.read_sql(sql, con)

  lineid  Number of trains in a day  Number of scheduled trips
0      1                        163                        738
1      2                        157                        700
2      4                         72                        457